
{% extends 'base.html' %}
{% block title %}Login {{super()}}{% endblock %}
{% block head %}
    {{super()}}
    <link href="/app/static/css/styles.css" type="text/css" rel="stylesheet"/>
    <link href="/app/static/css/bootstrap.min.css" type="text/css" rel="stylesheet"/>
{% endblock %}
{% block navbar %}{{super()}}{% endblock %}
{% block body %}
    {# call super() if you want to import code from base.html #}
    {{super()}}
    <div class = "my_container">
        <form action = "/app/add" method = "POST" enctype = "multipart/form-data">
            {{ form.csrf_token }}
            {{ form.name.label }}
            {{ form.name(class = 'form-control', id = 'name') }}
            {{ form.address.label }}
            {{ form.address(class = 'form-control', id = 'address') }}
            {{ form.age.label }}
            {{ form.age(class = 'form-control', id = 'age') }}
            {{ form.upload_file(class = 'btn btn-default')}}
            
            {{ form.submit(class = 'btn btn-default') }}
        </form>
    </div>
{% endblock %}